# Relatório de Análise IV
## Seleções e Frequências

In [1]:
import pandas as pd

dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.67,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
25380,Apartamento,Taquara,3,1,0,48,1000.0,411.0,0.0,20.83,Apartamento
25381,Apartamento,Gávea,4,2,1,200,4000.0,3245.0,501.0,20.00,Apartamento
25382,Conjunto Comercial/Sala,Barra da Tijuca,0,2,0,90,3500.0,1380.0,700.0,38.89,Apartamento
25383,Apartamento,Copacabana,2,0,0,74,7000.0,1228.0,120.0,94.59,Apartamento
25384,Apartamento,Jacarepaguá,2,1,0,50,1300.0,490.0,30.0,NaN,NaN

In [2]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.

selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

16634

In [3]:

# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

selecao = (dados['Tipo'] == 'Casa')| (dados['Tipo'] =='Casa de Condomínio')| (dados['Tipo'] =='Casa de Vila')
n2 = dados[selecao].shape[0]
n2

1956

In [4]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8161

In [5]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

32

In [6]:
print('Número de imóveis classificados com tipo "Apartamento": {}'.format(n1))
print('Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": {}.'.format(n2))
print('Número de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {}.'.format(n3))
print('Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {}.'.format(n4))

Número de imóveis classificados com tipo "Apartamento": 16634
Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": 1956.
Número de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8161.
Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 32.