# Relatório de Análise VI
## Criando Novas Variáveis

In [1]:
import pandas as pd

dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [2]:
# criando uma nova variável: valor bruto (valor + condomínio + iptu)

dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [3]:
# criando uma nova variável: valor m2 (valor por metro quadrado)

dados['Valor m2'] = dados['Valor']/dados['Area']

In [4]:
# arredondando os números: método round()

dados['Valor m2'] = dados['Valor m2'].round(2)

In [5]:
# criando uma nova variável: valor bruto do metro quadrado

dados['Valor Bruto m2'] = (dados['Valor Bruto']/dados['Area']).round(2)

In [6]:
# criando uma nova variável: tipo (casas e apartamentos)

casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [7]:
# criando uma nova variável: tipo agregado

dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0,34.67,68.87,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28631,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
28632,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
28633,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
28634,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento
28635,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,11815.0,26.00,47.26,Apartamento

## Excluindo variáveis

In [8]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     34.67      10331.0           68.87
3   Apartamento     53.33       1210.0           80.67
4   Apartamento     16.67       1030.0           21.46
5   Apartamento     26.00       1618.0           32.36
6          Casa     29.33      22000.0           29.33
7          Casa     15.38       1000.0           15.38
8   Apartamento     50.36      57223.0           82.34
9   Apartamento     21.43       2216.0           31.66

In [9]:
# para excluir uma variável: método del

del dados_aux['Valor Bruto']

In [10]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     34.67           68.87
3       Apartamento     53.33           80.67
4       Apartamento     16.67           21.46
...             ...       ...             ...
28631   Apartamento     29.63           43.52
28632   Apartamento     23.08           33.85
28633   Apartamento     29.17           40.54
28634   Apartamento     42.86           53.71
28635   Apartamento     26.00           47.26

[28636 rows x 3 columns]

In [11]:
# para excluir uma variável: método pop()

dados_aux.pop('Valor Bruto m2')

0        56.50
1        70.00
2        68.87
3        80.67
4        21.46
         ...
28631    43.52
28632    33.85
28633    40.54
28634    53.71
28635    47.26
Name: Valor Bruto m2, Length: 28636, dtype: float64

In [12]:
# para excluir múltiplas variáveis: drop()
# é necessario especificar o eixo pelo axis =
# é necessário assinalar inplace como True


dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [13]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.67,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
28631,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
28632,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
28633,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
28634,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento
28635,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,26.00,Apartamento

In [14]:
# exportar e sobrescrever o arquivo:

dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)